game/assets/creeper-lava-loco-003.glb filter=lfs diff=lfs merge=lfs -text
game/assets/rimmer-skinned-solid.glb filter=lfs diff=lfs merge=lfs -text
game/assets/plasma-bug-skinned-solid.glb filter=lfs diff=lfs merge=lfs -text
game/assets/creeper-ember-hollow.glb filter=lfs diff=lfs merge=lfs -text
game/assets/dragon-fg-a.glb filter=lfs diff=lfs merge=lfs -text
game/assets/egg-shell-a.glb filter=lfs diff=lfs merge=lfs -text
game/assets/egg-maggot-a.glb filter=lfs diff=lfs merge=lfs -text
